.navbar {
    display: flex;
    justify-content: space-between; // Căn các phần tử: logo, menu, auth buttons cách đều
    align-items: center; // Căn giữa theo chiều dọc
    

  
    .ant-menu {
      flex-grow: 1; // Cho menu chiếm hết không gian còn lại
      display: flex;
      justify-content: start; // Menu sẽ ở giữa
    }
  
    .auth-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
  }
  